{% extends "base.html" %}
{% load static %}
{% block title_name %}
Удаление коллекции {{ collection.name }}
{% endblock %}
{% block content %}
<div class="container">
        <div class="delete-card">
            <h1>Подтверждение удаления</h1>
            <p>Вы уверены, что хотите удалить коллекцию <span class="item-name">"{{ collection.name }}"</span>?</p>
            {% if collection.tovar_set.all %}
                <div class="warning-text">
                    ⚠ Внимание! В этой коллекции есть товары. При удалении коллекции связь с товарами будет потеряна.
                </div>
            {% endif %}
            <form method="post" style="margin-top: 30px;">
                {% csrf_token %}
                <button type="submit">Да, удалить</button>
                <a href="{% url 'collection_list' %}" class="btn-cancel">Отмена</a>
            </form>
        </div>
    </div>
{% endblock content %}
