{% extends "base.html" %}
{% load static %}
{% block title_name %}
{% if form.instance.pk %}Редактирование категории{% else %}Добавление категории{% endif %}
{% endblock %}
{% block content %}
<div class="container">
        <div class="form-card">
            <h1 class="form-title">{% if form.instance.pk %}Редактирование категории{% else %}Добавление категории{% endif %}</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Сохранить</button>
                <a href="{% url 'category_list' %}" class="btn-cancel">Отмена</a>
            </form>
        </div>
    </div>
{% endblock content %}
