{% extends "base.html" %}
{% load static %}
{% block title_name %}
Удаление типа товара {{ tovartype.name }}
{% endblock %}
{% block content %}
<div class="container">
        <div class="delete-card">
            <h1>Подтверждение удаления</h1>
            <p>Вы уверены, что хотите удалить тип товара <span class="item-name">"{{ tovartype.name }}"</span>?</p>
            <form method="post">
                {% csrf_token %}
                <button type="submit">Да, удалить</button>
                <a href="{% url 'tovartype_list' %}" class="btn-cancel">Отмена</a>
            </form>
        </div>
    </div>
{% endblock content %}
