{% extends "base.html" %}
{% load static %}
{% block title_name %}
{{ tovartype.name }}
{% endblock %}
{% block content %}
<div class="container">
        <div class="detail-card">
            <h1 class="detail-title">{{ tovartype.name }}</h1>
            <div>
                <a href="{% url 'tovartype_list' %}" class="btn-back">← Назад к типам товаров</a>
                {% if perms.products_app.change_tovartype %}
                <a href="{% url 'tovartype_update' tovartype.pk %}" class="btn-back">✎ Редактировать</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
